@tailwind base;
@tailwind components;
@tailwind utilities;

 
html{
  scroll-behavior: smooth;
}
body{
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.monomaniac-one-regular {
  font-family: "Monomaniac One", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-h {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.rubik-b {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:"16px"
}
.rubik-l {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.sli{ 
  animation-name: slid;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 0s;

}
@keyframes slid{
  from{
    opacity:0;
    transform: translateY(30%);
  }
  to{
    opacity:1;
    transform: translateY(0%);
  }
  
}
/* From Uiverse.io by liyaxu123 */ 
.form-control {
  position: relative;
  margin: 10px 0 10px;
  width: 250px;
  height: fit-content;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px black solid;
  display: block;
  width: 100%;
  padding: 30px 0px;
  font-size: 18px;
  color: black;
  padding-bottom: 0px;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: black;
}
/* .form-control input:focus,
.form-control input:invalid {
  outline: 0;
  border-bottom-color: red;
} */

.form-control label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: black;
  transform: translateY(-30px);
}
/* From Uiverse.io by alexmaracinaru */ 
button {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: white;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background: rgba(39, 77, 235,0.3);
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}
.fade-out {
  opacity: 1;
  transition: opacity 1s ease; /* Adjust the duration for a slower fade */
}

.fade-out-effect {
  opacity: 0;
}

.shp{
  animation-name: showup;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  
}
@keyframes showup {
  from{
    transform: translateY(50%);
  }
  to{
    transform: translateY(0px);
  }
}
.keypad{
  background-color: white !important;
}

.keypad:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.623) !important;
}
.keypad:hover{
  background-color: rgba(255, 255, 255, 0.63) !important;
}
#createpin{
  animation-name: showw;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}
@keyframes showw {
 from{
  opacity: 0;
 } 
 to{
  opacity: 1;
 }
}
input:-webkit-autofill{
background-color: white !important;
color: black;
}
input{
  transition-property: background-color;
  transition-delay: 5000s;
}
.scale{
  animation-name: expand;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes expand {
  from{transform: scale(0.5,0.5);}
  to{
    transform: scale(1,1);
  }
}
/* From Uiverse.io by adamgiebl */ 
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}